
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>saiddit: the back page of the internet</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/signup.css" rel="stylesheet">

    <script src="../static/js/jquery-1.11.2.js"></script>
     <script src="../static/js/userHome.js"></script>

  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><span id=name></span></li>
            <li role="presentation" class="active"><a href="#">Home</a></li>
		        <li role="presentation"><a href="/logOut">Log Out</a></li>
          </ul>
        </nav>
        <img src="../static/images/saiddit.png" alt="saiddit" height="36" width=auto>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Column 1 Row 1</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Column 1 Row 2</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Column 1 Row 3</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Column 2 Row 1</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Column 2 Row 2</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Column 2 Row 3</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

		<div class="col-lg-6">
          <h4>Column 1 Row 1</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Column 1 Row 2</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Column 1 Row 3</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Column 2 Row 1</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Column 2 Row 2</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Column 2 Row 3</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

		<div class="col-lg-6">
          <h4>Column 1 Row 1</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Column 1 Row 2</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Column 1 Row 3</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Column 2 Row 1</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Column 2 Row 2</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Column 2 Row 3</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; SSD 2016</p>
      </footer>
    </div>
    
    <script type="text/javascript">
    
      document.getElementById("name").innerHTML = getName();
      
    </script>
  </body>
</html>



