
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>saiddit: the back page of the internet</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/signup.css" rel="stylesheet">

    <script src="../static/js/jquery-1.11.2.js"></script>
     <script src="../static/js/userComments.js"></script>

  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><span id=name></span></li>
            <li role="presentation"><a href="/userHome">Home</a></li>
		        <li role="presentation"><a href="/logOut">Log out</a></li>
          </ul>
        </nav>
        <img src="../static/images/saiddit.png" alt="saiddit" height="36" width=auto>
      </div>

      <div>
        <div class=container id=post>
          <div>
            <font id="title" size="7"></font>
          </div>
            <div class="panel panel-info ">
              <div class="panel-heading">Posted by <b id="user"></b> to <b id="subsaiddit"></b> <span id="votes" class="pull-right"></span> <p></p> </div>
              <div class="panel-body"><span id="content"></span></div>
            </div>
          </div>
        </div>
        <div class=container id=comments></div>
        
        <footer class="footer">
          <p>&copy; SSD 2016</p>
        </footer>
    
    </div>
    <script type="text/javascript">
    
        //Adds the users name to the top of the page
        document.getElementById("name").innerHTML = getName();
          
        var parameter = window.location.search.substring(1);
        parameter = parameter.split("=");
        parameter = parameter[1];
        
        //Populates post infomation
        var post = getPost(parameter);
        document.getElementById('title').innerHTML = post[0][3];
        document.getElementById('user').innerHTML = post[0][9];
        document.getElementById('subsaiddit').innerHTML = post[0][8];
        document.getElementById('votes').innerHTML = "   " + (post[0][6]-post[0][7]) + "   ";
        document.getElementById('content').innerHTML = ((post[0][4] != null) ? post[0][4] : post[0][5]);
        
        var comments = getComments(parameter);
        var commentLength = comments.length;
        var commentHTML = "";
        var i = 0;
        for(i = 0; i<commentLength; i++){
        commentHTML += "<div class='tab'>\
                          <div class='panel panel-default'>\
                            <div class=panel-heading>Commented by <b>"+comments[i][7]+"</b><span class=pull-right><button type=\"button\" class=\"btn btn-primary\"> upvote </button>   "+(comments[i][4]-comments[i][5])+"   <button type=\"button\" class=\"btn btn-primary\"> downvote </button></span> <p></p></div>\
                            <div class=panel-body>"+comments[i][2]+"</div>\
                            <div replyToId"+comments[i][0]+"></div>\
                          </div>\
                        </div>";
        }
        document.getElementById("comments").innerHTML = commentHTML;
    </script>
  </body>
</html>



