
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>saiddit: the back page of the internet</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/signup.css" rel="stylesheet">

    <script src="../static/js/jquery-1.11.2.js"></script>
     <script src="../static/js/userHome.js"></script>

  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><span id=name></span></li>
            <li role="presentation" class="active"><a href="#">Home</a></li>
		        <li role="presentation"><a href="/logOut">Log Out</a></li>
          </ul>
        </nav>
        <img src="../static/images/saiddit.png" alt="saiddit" height="36" width=auto>
      </div>

      <div>
        <div class="container" id="post0"></div>
        <div class="container" id="post1"></div>
        <div class="container" id="post2"></div>
        <div class="container" id="post3"></div>
        <div class="container" id="post4"></div>
        <div class="container" id="post5"></div>
        <div class="container" id="post6"></div>
        <div class="container" id="post7"></div>
        <div class="container" id="post8"></div>
        <div class="container" id="post9"></div>
        <div class="container" id="post10"></div>
        <div class="container" id="post11"></div>

        <footer class="footer">
          <p>&copy; SSD 2016</p>
        </footer>
    
    </div>
    <script type="text/javascript">
  
      var i = 0;
      
      //Sets the initial html for the posts
      for(i = 0; i<12; i++){
        var post = "<h3><span id=title" + i + "></span></h3>\
                    <div class=\"panel panel-default\">\
                      <div class=\"panel-heading\">Posted by <b id=user" + i + "></b> to <b id=sub" + i + "></b> <span id=vote" + i + " class=\"pull-right\"></span> <p></p> </div>\
                      <div class=\"panel-body\"><span id=text" + i + "></span></div>\
                    </div>";
        document.getElementById("post"+i).innerHTML = post;
      }
      var data = getPosts();
      
      //Adds title data to page
      var title = 'title';
      
      for(i = 0; i < data.length; i++ ){
        title = title + String(i);
        document.getElementById(title).innerHTML = data[i][3];
        title = 'title';
      }
      
      //Adds post content data to page
      var text = 'text';
      for(i = 0; i < data.length; i++ ){
        text = text + String(i);
        if(data[i][4] != null){
          document.getElementById(text).innerHTML = data[i][4];
        }else{
           document.getElementById(text).innerHTML = data[i][5];
        }
        text = 'text';
      }
      
      //Adds posted by username data to page
      var user = 'user';
      for(i = 0; i < data.length; i++ ){
        user = user + String(i);
        document.getElementById(user).innerHTML = data[i][9];
        user = 'user';
      }
      
      //Adds posted to subsaiddit data to page        
      var sub = 'sub';
      for(i = 0; i < data.length; i++ ){
        sub = sub + String(i);
        document.getElementById(sub).innerHTML = data[i][8];
        sub = 'sub';
      }
      
      //Adds voting data and buttons to page
      var vote = 'vote';
      for(i = 0; i < data.length; i++ ){
        vote = vote + String(i);
        document.getElementById(vote).innerHTML = "<button type=\"button\" class=\"btn btn-primary\"> upvote </button>  " + (parseInt(data[i][6])-parseInt(data[i][7])) + "  <button type=\"button\" class=\"btn btn-primary\">downvote</button>";
        vote = 'vote';
      }
    
    </script>
  </body>
</html>



