
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>saiddit: the back page of the internet</title
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/general.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top">
        <nav>
          <a href="/">
            <img src="../static/images/saiddit.png" alt="saiddit" height="36" width=auto>
          </a>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Log In</a></li>
            <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
	          <li>
  		        <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Subsaiddits<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <span id="subs"></span>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <img src="/static/images/snoo-saiddit.png" alt="saiddit" height="140" width=auto>
        <br>
        <br>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Username</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Username" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <br>
        <br>
        <button id="btnLogIn" class="btn btn-lg btn-primary btn-block" type="button">Log in</button>
      </form>
      </div>
        <footer class="footer">
          <p>&copy; SSD 2016</p>
        </footer>
      </div>
      <script type="text/javascript">

        addSubsaiddits();

      </script>
  </body>
</html>

