
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>saiddit: the back page of the internet</title
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/general.js"></script>
  </head>

  <body>
    <div class="container">

      <div class="navbar navbar-default navbar-fixed-top">
        <nav>
          <a href="/">
            <img src="../static/images/saiddit.png" alt="saiddit" height="36" width=auto>
          </a>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><span id=name></span></li>
            <li role="presentation" class="active"><a href="#">Home</a></li>
		        <li role="presentation"><a href="/logOut">Log Out</a></li>
		        <li>
  		        <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Subsaiddits<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <span id="subs"></span>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>

      <div>
        <div class="container" id="post0"></div>
        <div class="container" id="post1"></div>
        <div class="container" id="post2"></div>
        <div class="container" id="post3"></div>
        <div class="container" id="post4"></div>
        <div class="container" id="post5"></div>
        <div class="container" id="post6"></div>
        <div class="container" id="post7"></div>
        <div class="container" id="post8"></div>
        <div class="container" id="post9"></div>
        <div class="container" id="post10"></div>
        <div class="container" id="post11"></div>

        <form method='post' class="non-bootstrap" action="/post">
          title:<br />
          <textarea name='title' id='title' rows="1" cols="30"></textarea><br />
          Subsaiddit:<br />
          <textarea name='subsaiddit' id='subsaiddit' rows="1" cols="30"></textarea><br />
          url:<br />
          <textarea name='url' id='url' rows="1" cols="30"></textarea><br />
          Post:<br />
          <textarea name='post' id='post' rows="6" cols="30"></textarea><br/>
          <button id="btnSubmitPost" class="btn btn-primary" type="button">Submit</button>
        </form>

        <footer class="footer">
          <p>&copy; SSD 2016</p>
        </footer>

    </div>
    <script type="text/javascript">

      addName();
      addSignedInPosts();
      addSignedInSubsaiddits();

    </script>
  </body>
</html>



